body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.outer {
    max-width: 500px;
    margin: 0 auto;
}

.player {
    cursor: pointer;
    padding: 5px 10px;
}

.player .name {
    display: inline-block;
    width: 50%;
    font-size: 1.6em;
}

.player .score {
    display: inline-block;
    width: 28%;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.player.selected {
    background-color: yellow;
}

.player.selected .score {
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0;
}

.none {
    color: #777;
}

.inc, .remove, .add, .sort, .reset {
    margin: 5px 0;
    font-size: 0.6em;
}

#error {
    color: red;
}