<head>
  <title>Leaderboard</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>

<body>
  <div class="outer">
    {{> leaderboard}}
  </div>
</body>

<template name="leaderboard">
  <div class="leaderboard">
    {{#each players}}
      {{> player}}
    {{/each}}
    {{> insertPlayerForm}}
  </div>

  {{#if selected_name}}
  <div class="details">
    <div class="name">{{selected_name}}</div>
    <button class="inc">Give 5 points</button>
    <button class="remove">Remove scientist</button>
  </div>
  {{> updatePlayerForm}}
  {{else}}
  <div class="none">Select a scientist</div>
  {{/if}}
  <button class="sort">Toggle sort</button>
  <button class="reset">Reset scores</button>
</template>

<template name="player">
  <div class="player {{selected}}">
    <button class="delete">X</button>
    <span class="name">{{name}}</span>
    <span class="score">{{score}}</span>
  </div>
</template>

<template name="insertPlayerForm">
  {{> quickForm collection="Players" id="insertPlayerForm" type="insert"}}
</template>

<template name="updatePlayerForm">
  {{> quickForm collection="Players" doc=editPlayer id="updatePlayerForm" type="update"}}
</template>
